<div layout="column" style="height:700px" ng-cloak id="mainController" class="mainController" dir="rtl">
  <mat-toolbar color="primary"> 
      <span>מסך מידע</span>
      <span class="example-spacer"></span>
      <button class="search-button" mdTooltip="תפריט צד" (click)="showSideNav($event)"><i class="material-icons">menu</i></button>
      
  </mat-toolbar>
<div>
<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav class="example-sidenav" align="end">
    <i class="material-icons">search</i>
    <input mdInput class="txtSearch" (keyup)="search($event.target.value)">
        
    <mat-list>
      <mat-list-item *ngFor="let code of codes">
        <a [routerLink]="['/dataPage', code.code]">{{ code.name }}</a>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <div class="flex-container mainScreen" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutAlign.xs="start" dir="rtl">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
