<p>
  data-page works! - Page {{param}}<br><br>
  <!--mat-table #table [dataSource]="dataSource"-->
  <mat-table #table>
    <ng-container *ngFor="let col of displayedColumns" matColumnDef={{col}}>
        <mat-header-cell *matHeaderCellDef> {{col}} </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element[col]}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        
  </mat-table>
</p>
